
/*fonts*/

@font-face {
    font-family: 'Roboto-Light-Italic';
    src: url(fonts/Roboto-LightItalic.ttf) format('truetype');
    
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(fonts/Roboto-Bold.ttf) format('truetype');
    
}
@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf) format('truetype');
    
}
@font-face {
    font-family: 'Roboto-Thin';
    src: url(fonts/Roboto-Thin.ttf) format('truetype');
    
}
/*fonts*/
:root{
    --dark-clr:#1F2937;
    --light-clr:#E5E7EB;
    --blue-clr:#3882F6;
    
    --section-padding-sm: 1rem 1.5rem;
    --section-padding-md: 1rem 3rem;
    --section-padding-lg: 1rem 5rem;

    --font-bold:'Roboto-Bold',sans-serif;
    --font-thin:'Roboto-Thin',sans-serif;
    --font-light-italic:'Roboto-Light-Italic',sans-serif;

}
/*General*/
*{
    padding: 0;
    margin: 0;
    
}
.bold,.ref-quote,button{ font-family:var(--font-bold); }
.italic,.quote{ font-family:var(--font-light-italic); }
.thin{font-family:var(--font-thin);}

button{
    color: #E5E7EB;
    background-color: inherit;
    border-radius: 5px;
    width:6rem;
    

}
.action-content button{border:3px solid #E5E7EB;}

    .hero-section  .button-block{
        width:7rem;
        background-color: var(--blue-clr);
        border-radius: 8px;
        
    }
        /*Group styling*/
/*General*/
.dark-background{ background-color: var(--dark-clr);}
.light-background{ background-color: var(--light--clr);}
.section-content{
    max-width:1200px;
    padding:var(--section-padding-lg);
    margin:0 auto;
}
.box-content{width:48%;}
@media only screen and (max-width:800px){
    .section-content{ padding:var(--section-padding-md);}
}


@media only screen and (max-width:600px){
    .section-content{ padding:var(--section-padding-sm);}
}

.flex-around{
    display:flex;
    justify-content:space-between;
}

a,p,h1,h2,h3,h4{
    color:white;
    font-family:'Roboto',sans-serif;

}
a,p{font-size:18px;}
p{margin-bottom:0;}
.links li{
    display:flex;
    margin:auto;
}
   

    .img-placeholder {
        height:100%;
        max-width:400px;
        min-width:80px;
        max-height:172px;
        margin-left:auto;
        background-color: slategray;
        position:relative;
    }
    .img-placeholder p{
        position:relative;
        top:4rem;
    }
    

/*hero section*/
/*sub section 1*/

#sub_section_1 .title{
    text-align: center;
    font-size: 36px;
    color:  var(--dark-clr);
}
.random-list{
    list-style: none;
    margin:auto;
    padding:5rem 0;

}
    
 .square-block{
    width:145px;
    height:145px;
    border: 3px solid  var(--blue-clr);
    border-radius:15%;
}
.small-text{
    width:60%;
    text-align: center;
    
    margin-top:1rem!important;
    font-size:13px;
    color: slategray;
}
.square-block, .small-text{
    display:flex;
    margin:auto;
}
/*sub section 1*/
/*sub section 2*/
#sub_section_2{
    padding:5rem;
    background-color: #E5E7EB;
}
#sub_section_2 .content{
    width:90%;
    margin:auto;
    margin-top: 1rem;

}
.quote{ font-size: 36px; }
.ref-quote{
    font-size: 15px;
    text-align: right;
}
.quote, .ref-quote{ color: var(--dark-clr);}

/*sub section 2*/
/*sub section 3*/

.action-content{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
    margin:5rem auto;
    background-color: var(--blue-clr);
    border-radius: 5px;
    padding:2rem 0.5rem;
}
.action-block{ flex-grow:0.3; }
.action-block *{
    color:#F9FAF8;
}

#sub_section_3 .content button{
    height: 30%;
    margin-left:2rem;
    border:3px solid #F9FAF8;
}
/*sub section 3*/
/*footer*/

footer .content{
    width:30%;
    margin:auto;
    text-align: center;
    padding-top: 1.5rem;
}
.footer-item{
    display:inline-block;
    
}
footer .text{
    font-size:0.6rem;
    color: #F9FAF8;
}
footer .content .sign{
    width:1.5%;
    height:1vh;
    margin-left: 0.3rem;
    border:1px solid #F9FAF8;
    border-radius: 50%;
}
footer .content .sign p{
    position:relative;
    top:-25%;
}

/*footer*/

@media only screen and (max-width:850px){
    .random-list{ 
        flex-wrap:wrap;
        gap:1rem;
    
    }
    .random-list li{ width:43%; }
    .square-block{
        width:76px;
        height:73px;
    }
    .quote{ font-size:30px;}
}
@media only screen and (max-width:700px){
    .quote{ font-size:25px;}
}
@media only screen and (max-width:600px){
    .quote{ font-size:18px;}
    #sub_section_2{ padding:1rem;}
    #sub_section_2 .content{ width:100%;}
    a,p{font-size:16px;}
    .hero-section .button-block{
        width:100%;
        border-radius:5px;
        margin:auto;
    }
    #container_2{
        flex-direction:column-reverse;
        gap:1rem;
    }
    .title,.paragraph{text-align:center;}
    .box-content{ width:95%; }
    .img-placeholder{
        max-width:unset;
        max-height:unset;
        min-width:unset;
        height:125px;
    }
    .img-placeholder p{ top:3.4rem; }
    .random-list li{ width:45%; }
    .square-block{
        width:61px;
        height:55px;
    }
    .small-text{
        width:100%;
        font-size:10px;
    }

    .action-content{
        flex-direction:column;
    }
    .action-content button{ width:75%;}

    .action-block .text{
        margin:0.5rem 0;
        text-align:center;
    }
}
    


