

/*fonts*/

@font-face {
    font-family: 'Roboto-Light-Italic';
    src: url(fonts/Roboto-LightItalic.ttf) format('truetype');
    
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(fonts/Roboto-Bold.ttf) format('truetype');
    
}
@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf) format('truetype');
    
}
@font-face {
    font-family: 'Roboto-Thin';
    src: url(fonts/Roboto-Thin.ttf) format('truetype');
    
}
/*fonts*/
/*General*/
*{
    padding: 0;
    margin: 0;
    
}
button{
    
    font-family: 'Roboto-Bold',sans-serif;
    font-size: 18px;
    color: #E5E7EB;
    background-color: inherit;
    border-radius: 5px;
    width:6rem;
    

}

    /*Group styling*//*.hero-section .container*/

    .hero-section #container_1,.hero-section #container_2,#sub_section_1 .container{
        display: flex;
        flex-direction: row;
            
    }
   
    .hero-section #container_1 .logo,.hero-section #container_2 .content .title{
        color: #F9FAF8;
        font-family:'Roboto-Bold',sans-serif;
    }
    .hero-section #container_1 .links a,.hero-section #container_2 .content .text,.hero-section #container_2 .img-placeholder p{
        font-size: 18px;
        color: #E5E7EB;
        font-family: 'Roboto',sans-serif;
    }
    
    .hero-section #container_2 .button-block{
        width:7rem;
        background-color: #3882F6;
        border-radius: 10%;
        
    }
        /*Group styling*/
/*General*/
/*hero section -> container1(logo,links) , container2(content,placeholder)*/
.hero-section{
    height:70vh;
    background-color: #1F2937;
    padding-top:1rem;
}

.hero-section #container_2{
    justify-content: center;
}

    /*container 1*/
    
    #container_1 .logo{
        flex-grow: 3;
        font-size:24px;
        text-align: center;
        margin-left: 5rem;
    }
    #container_1 .links{
        flex-grow: 2;
        list-style: none;
        margin-left: 10rem;
        
    }
    #container_1 .links li{
        display: inline-block;
        margin-left: 1rem;
    }
    /*container 1*/
    /*container 2*/
    #container_2{
        margin-top: 3rem;
        
    }
    #container_2 .content , #container_2 .img-placeholder {
        width:30%;
        
    }
    #container_2 .content .title{
        font-size: 48px;
        font-family:'Roboto-Bold',sans-serif;

    }
    
    
    #container_2 .img-placeholder {
        height:30vh;
        margin-left: 2rem;
        margin-top: 2rem;
        background-color: slategray;
        

    }
    #container_2 .img-placeholder p{
        margin-top: 6rem;
        text-align: center;
    }
    /*container 2*/
/*hero section*/
/*sub section 1*/
#sub_section_1{
    height:50vh;
    padding:2rem;
}
#sub_section_1 .title{
    text-align: center;
    font-size: 36px;
    font-family: 'Roboto-Bold',sans-serif;
    color:  #1F2937;
}
#sub_section_1 .container{
    width:50%;
    list-style: none;
    margin:auto;
    padding-top:5rem;

}
#sub_section_1 .container .content{
    height:50%;
    padding-left:3rem;
}
        /*NOTE: Must define parent height in order apply height and visualize empty block*/
#sub_section_1 .container .content .square-block{
    width:70%;
    height:13vh;
    border: 3px solid  #3882F6;
    border-radius:15%;
}
#sub_section_1 .container .content .text{
    width:60%;
    text-align: center;
    margin-left: 0.5rem;
    font-family: 'Roboto',sans-serif;
    font-size:10px;
    color: slategray;
}


/*sub section 1*/
/*sub section 2*/
#sub_section_2{
    height:30vh;
    padding:5rem;
    background-color: #E5E7EB;
}
#sub_section_2 .content{
    width:90%;
    margin:auto;
    margin-top: 1rem;

}
#sub_section_2 .content .quote{
    color: #1F2937;
    font-size: 36px;
    font-family: 'Roboto-Light-Italic',sans-serif;
}
#sub_section_2 .content .ref-quote{
    color: #1F2937;
    font-size: 15px;
    font-family: 'Roboto-Bold',sans-serif;
    text-align: right;

}

/*sub section 2*/
/*sub section 3*/
#sub_section_3{
    height:30vh;
}
#sub_section_3 .content{
    width:60%;
    height:50%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:5rem auto;
    background-color: #3882F6;
    border-radius: 5px;
}
#sub_section_3 .content .action-text{
    flex-grow:0.3;
}
#sub_section_3 .content .action-text .title{
    font-size: 20px;
    font-family: 'Roboto-Bold',sans-serif;
    color:#F9FAF8;
}
#sub_section_3 .content .action-text .text{
   
    font-size: 10px;
    font-family: 'Roboto-Light-Italic',sans-serif;
    color:#F9FAF8;
}
#sub_section_3 .content button{
    height: 30%;
    margin-left:2rem;
    border:3px solid #F9FAF8;
}
/*sub section 3*/
/*footer*/
footer{
    background-color: #1F2937;
    height:10vh;
}
footer .content{
    width:30%;
    margin:auto;
    text-align: center;
    padding-top: 1.5rem;
}
footer .content .item{
    display:inline-block;
    
}
footer .content .text,footer .content .sign p{
    font-size:0.6rem;
    font-family: 'Roboto-Thin',sans-serif;
    color: #F9FAF8;
}
footer .content .sign{
    width:1.5%;
    height:1vh;
    margin-left: 0.3rem;
    border:1px solid #F9FAF8;
    border-radius: 50%;
}
footer .content .sign p{
    position:relative;
    top:-25%;
}

/*footer*/


    
@media screen and (max-width:360px){
    /*hero section */
    .hero-section #container_1 .logo , .hero-section #container_1 .links{
        margin-left: 15%;
    }
    .hero-section #container_2{
        justify-self: unset;
        display:block;
        margin-top:1.5rem;
        padding:20%;
    }
    .hero-section #container_2 .img-placeholder{
        
        display:none;
    }
    .hero-section #container_2 .content{
        width:100%;
    }
    .hero-section #container_2 .content .title {
        font-size: 20px;
        font-family: 'Roboto',sans-serif;
    }
    .hero-section #container_2 .content .text {
        font-size: 10px;
        font-family: 'Roboto-Light-Italic',sans-serif;
        margin-top: 5rem;
    }
    .hero-section #container_2 .content .button-block {
       margin-top:8rem;
       margin-left: 50%;
       width:5rem;
    }
    button{
        font-family: 'Roboto-Thin',sans-serif;
        font-size: smaller;
        
        height: 1.2rem;
    }
    /*hero section */
    /*sub section 1*/
    #sub_section_1 .container{
        flex-direction: column;
        width: 100%;
        padding-top: 2rem;
    }
    #sub_section_1 .container .content{
        width:inherit;
    }
    #sub_section_1 .container .content .square-block, #sub_section_1 .container .content .text{
        display: inline-block;
        
    }
    #sub_section_1 .container .content .square-block{
        width: 20%;
        height: 5vh;
    }
    #sub_section_1 .container .content .text{
        width: 50%;
    }
    /*sub section 1*/
    /*sub section 2*/
    #sub_section_2 .content .quote{
        font-size: 15px;
    }
    /*sub section 2*/
    /*sub section 3 (margin  left of button is not 0)*/ 
    #sub_section_3 .content{
        flex-direction: column;
        width: 80%;
        height: 70%;
    }
    #sub_section_3 .content .action-text .text{
        text-align: center;
        margin-top: 5px;
    }
    #sub_section_3 .content button{
        display: block;
        margin-top: 1rem;
       margin-left: 0px;
    }
    /*sub section 3 (margin  left of button is not 0)*/ 

}

@media screen and (min-width:361px) and (max-width:700px){
    /*hero section*/
    .hero-section #container_1 .links {
        margin-left:20%;
    }

    .hero-section #container_2 .content .title {
        font-size: 30px;
        font-family: 'Roboto',sans-serif;
    }
    .hero-section #container_2 .content , .hero-section #container_2 .img-placeholder {
        width: 40%;
    }
    /*hero section*/
    /*sub section 1*/
    #sub_section_1{
        padding: 5%;
    }
    #sub_section_1 .container{
        width:inherit;
        margin:0;
    }
    #sub_section_1 .container .content{
       
        width:20%;
        height: 30%;
        padding-left: 8%;
    }
    #sub_section_1 .container .content .square-block{
        height: 8vh;
    }
    /*sub section 1*/
    /*sub section 2*/
    #sub_section_2{
        height:35vh;
        padding:5vw;
    }
    #sub_section_2 .content{
        margin:0;
    }
    #sub_section_2 .content .quote{
        font-size: 27px;
    }
    /*sub section 2*/
    /*sub section 3*/
    #sub_section_3 .content{
        flex-direction: column;
    }
    #sub_section_3 .content button{
        margin-left: 0;
    }
    /*sub section 3*/
}
