:root{
    --dark-bckrnd-clr:#1F2937;
    --light-bckrnd-clr:#E5E7EB;
    

    --section-padding-md: 1rem 3rem;
    --section-padding-lg: 1rem 5rem;
}

/*fonts*/

@font-face {
    font-family: 'Roboto-Light-Italic';
    src: url(fonts/Roboto-LightItalic.ttf) format('truetype');
    
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(fonts/Roboto-Bold.ttf) format('truetype');
    
}
@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf) format('truetype');
    
}
@font-face {
    font-family: 'Roboto-Thin';
    src: url(fonts/Roboto-Thin.ttf) format('truetype');
    
}
/*fonts*/
/*General*/
*{
    padding: 0;
    margin: 0;
    
}
button{
    
    font-family: 'Roboto-Bold',sans-serif;
    font-size: 18px;
    color: #E5E7EB;
    background-color: inherit;
    border-radius: 5px;
    width:6rem;
    

}

    .hero-section  .button-block{
        width:7rem;
        background-color: #3882F6;
        border-radius: 10%;
        
    }
        /*Group styling*/
/*General*/
.dark-background{ background-color: var(--dark-bckrnd-clr);}
.light-background{ background-color: var(--light-bckrnd-clr);}
.section-content{
    max-width:1200px;
    padding:var(--section-padding-lg);
    margin:0 auto;
}
.box-content{width:48%;}
@media only screen and (min-width:800px){
    .section-content{ padding:var(--section-padding-md);}
}

.flex-around{
    display:flex;
    justify-content:space-between;
}

a,p,h1,h2,h3,h4{
    color:white;
    font-family:'Roboto',sans-serif;

}
a,p{font-size:18px;}
p{margin-bottom:0;}
.links li{
    display:flex;
    margin:auto;
}
   
    /*container 1*/
    /*container 2*/

    .img-placeholder {
        height:100%;
        max-width:400px;
        margin-left:auto;
        background-color: slategray;
    }
    
    /*container 2*/
/*hero section*/
/*sub section 1*/

#sub_section_1 .title{
    text-align: center;
    font-size: 36px;
    font-family: 'Roboto-Bold',sans-serif;
    color:  #1F2937;
}
#sub_section_1 .container{
    width:50%;
    list-style: none;
    margin:auto;
    padding-top:5rem;

}
#sub_section_1 .container .content{
    height:50%;
    padding-left:3rem;
}
        /*NOTE: Must define parent height in order apply height and visualize empty block*/
#sub_section_1 .container .content .square-block{
    width:70%;
    height:13vh;
    border: 3px solid  #3882F6;
    border-radius:15%;
}
#sub_section_1 .container .content .text{
    width:60%;
    text-align: center;
    margin-left: 0.5rem;
    font-family: 'Roboto',sans-serif;
    font-size:10px;
    color: slategray;
}


/*sub section 1*/
/*sub section 2*/
#sub_section_2{
    /*height:30vh;*/
    padding:5rem;
    background-color: #E5E7EB;
}
#sub_section_2 .content{
    width:90%;
    margin:auto;
    margin-top: 1rem;

}
#sub_section_2 .content .quote{
    color: #1F2937;
    font-size: 36px;
    font-family: 'Roboto-Light-Italic',sans-serif;
}
#sub_section_2 .content .ref-quote{
    color: #1F2937;
    font-size: 15px;
    font-family: 'Roboto-Bold',sans-serif;
    text-align: right;

}

/*sub section 2*/
/*sub section 3*/

#sub_section_3 .content{
    width:60%;
    height:50%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:5rem auto;
    background-color: #3882F6;
    border-radius: 5px;
}
#sub_section_3 .content .action-text{
    flex-grow:0.3;
}
#sub_section_3 .content .action-text .title{
    font-size: 20px;
    font-family: 'Roboto-Bold',sans-serif;
    color:#F9FAF8;
}
#sub_section_3 .content .action-text .text{
   
    font-size: 10px;
    font-family: 'Roboto-Light-Italic',sans-serif;
    color:#F9FAF8;
}
#sub_section_3 .content button{
    height: 30%;
    margin-left:2rem;
    border:3px solid #F9FAF8;
}
/*sub section 3*/
/*footer*/

footer .content{
    width:30%;
    margin:auto;
    text-align: center;
    padding-top: 1.5rem;
}
footer .content .item{
    display:inline-block;
    
}
footer .content .text,footer .content .sign p{
    font-size:0.6rem;
    font-family: 'Roboto-Thin',sans-serif;
    color: #F9FAF8;
}
footer .content .sign{
    width:1.5%;
    height:1vh;
    margin-left: 0.3rem;
    border:1px solid #F9FAF8;
    border-radius: 50%;
}
footer .content .sign p{
    position:relative;
    top:-25%;
}

/*footer*/


    


